tibco/Transactions/WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/Bankrising/Schemas/Schema.xsd6" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.tibco.com/schemas/Bankrising/Schemas/Schema.xsd8" xmlns:ns4="http://www.tibco.com/schemas/Bankrising/Schemas/Schema.xsd9" xmlns:ns3="http://www.tibco.com/schemas/Bankrising/Schemas/Schema.xsd7" xmlns:ns6="http://www.tibco.com/schemas/Bankrising/Schemas/Schema.xsd2" xmlns:ns5="http://www.tibco.com/schemas/Bankrising/Schemas/Schema.xsd10" xmlns:ns8="http://www.tibco.com/schemas/Bankrising/Schemas/Transaction.xsd" xmlns:ns7="http://www.tibco.com/schemas/tibco/Schemas/Schema.xsd2" xmlns:ns13="http://www.tibco.com/schemas/tibco/Schemas/getByIban.xsd" xmlns:ns9="http://www.tibco.com/schemas/Bankrising/Schemas/Deposit.xsd" xmlns:ns12="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" xmlns:ns11="http://www.tibco.com/schemas/Bankrising/Schemas/Transfer.xsd" xmlns:ns10="http://www.tibco.com/schemas/Bankrising/Schemas/Payment.xsd" xmlns:tns="http://xmlns.example.com/1564671163059" xmlns:ns14="http://www.tibco.com/schemas/Bankrising/Schemas/Withdraw.xsd" targetNamespace="http://xmlns.example.com/1564671163059">
    <import namespace="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" location="../Schemas/GetById.xsd"/>
    <import namespace="http://www.tibco.com/schemas/tibco/Schemas/getByIban.xsd" location="../Schemas/GetByIban.xsd"/>
    <import namespace="http://www.tibco.com/schemas/Bankrising/Schemas/Deposit.xsd" location="../Schemas/Deposit.xsd"/>
    <import namespace="http://www.tibco.com/schemas/Bankrising/Schemas/Payment.xsd" location="../Schemas/Payment.xsd"/>
    <import namespace="http://www.tibco.com/schemas/Bankrising/Schemas/Transfer.xsd" location="../Schemas/Transfer.xsd"/>
    <import namespace="http://www.tibco.com/schemas/Bankrising/Schemas/Transaction.xsd" location="../Schemas/Transaction.xsd"/>
    <import namespace="http://www.tibco.com/schemas/Bankrising/Schemas/Withdraw.xsd" location="../Schemas/Withdraw.xsd"/>
    <message name="WriteDepositInput">
        <part name="input" element="ns9:inputDeposit"/>
    </message>
    <message name="WriteDepositOutput">
        <part name="output" element="ns9:outputDeposit"/>
    </message>
    <message name="WritePaymentInput">
        <part name="input" element="ns10:inputPayment"/>
    </message>
    <message name="WritePaymentOutput">
        <part name="output" element="ns10:outputPayment"/>
    </message>
    <message name="WriteTransferInput">
        <part name="input" element="ns11:inputTransfer"/>
    </message>
    <message name="WriteTransferOutput">
        <part name="output" element="ns8:outputTransaction"/>
    </message>
    <message name="WriteWithdrawInput">
        <part name="input" element="ns14:inputWithdraw"/>
    </message>
    <message name="WriteWithdrawOutput">
        <part name="output" element="ns14:outputWithdraw"/>
    </message>
    <message name="GetTransactionByIdInput">
        <part name="input" element="ns12:getById"/>
    </message>
    <message name="GetTransactionByIdOuput">
        <part name="output" element="ns8:root"/>
    </message>
    <message name="GetTransactionsByIbanInput">
        <part name="input" element="ns13:getByIban"/>
    </message>
    <message name="GetTransactionsByIbanOutput">
        <part name="output" element="ns8:root"/>
    </message>
    <message name="GetAllTransactionsInput"/>
    <message name="GetAllTransactionsOutput">
        <part name="output" element="ns8:root"/>
    </message>
    <message name="WriteTransactionOutpu">
        <part name="output" element="ns8:root"/>
    </message>
    <portType name="PortType_Deposit">
        <operation name="WriteDeposit">
            <input message="tns:WriteDepositInput"/>
            <output message="tns:WriteDepositOutput"/>
        </operation>
    </portType>
    <portType name="PortType_TransactionById">
        <operation name="Operation">
            <input message="tns:GetTransactionByIdInput"/>
            <output message="tns:GetTransactionByIdOuput"/>
        </operation>
    </portType>
    <portType name="PortType_Payment">
        <operation name="WritePayment">
            <input message="tns:WritePaymentInput"/>
            <output message="tns:WritePaymentOutput"/>
        </operation>
    </portType>
    <portType name="PortType_Transfer">
        <operation name="WriteTransfer">
            <input message="tns:WriteTransferInput"/>
            <output message="tns:WriteTransferOutput"/>
        </operation>
    </portType>
    <portType name="PortType_Withdraw">
        <operation name="WriteWithdraw">
            <input message="tns:WriteWithdrawInput"/>
            <output message="tns:WriteWithdrawOutput"/>
        </operation>
    </portType>
    <portType name="PortType_GetTransactionsByIban">
        <operation name="Operation">
            <input message="tns:GetTransactionsByIbanInput"/>
            <output message="tns:GetTransactionsByIbanOutput"/>
        </operation>
    </portType>
    <portType name="PortType_GetAllTransactions">
        <operation name="Operation">
            <input message="tns:GetAllTransactionsInput"/>
            <output message="tns:GetAllTransactionsOutput"/>
        </operation>
    </portType>
</definitions>