tibco/Transactions/WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1564671163059" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1564671163059">
    <message name="WriteDepositInput"/>
    <message name="WriteDepositOutput"/>
    <message name="ReadTransactionsInput"/>
    <message name="ReadTransactionsOutput"/>
    <message name="WriteTransactionInput"/>
    <message name="WriteTransactionOutput"/>
    <message name="WritePaymentInput"/>
    <message name="WirtePaymentOutput"/>
    <message name="WriteTransferInput"/>
    <message name="WriteTransferOutput"/>
    <message name="WriteWithdrawInput"/>
    <message name="WriteWithdrawOutput"/>
    <portType name="PortType_Deposit">
        <operation name="Operation"/>
    </portType>
    <portType name="PortType_Transaction">
        <operation name="Operation"/>
    </portType>
    <portType name="PortType_Payment">
        <operation name="Operation"/>
    </portType>
    <portType name="PortType_Transfer">
        <operation name="Operation"/>
    </portType>
    <portType name="PortType_Withdraw">
        <operation name="Operation"/>
    </portType>
</definitions>