tibco/Client/WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns6="http://www.tibco.com/schemas/tibco/Schemas/GetByClientCC.xsd" xmlns:ns5="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" xmlns:ns="http://www.tibco.com/schemas/Bankrising/Schemas/Schema.xsd" xmlns:tns="http://xmlns.example.com/1564670608293" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.tibco.com/schemas/Bankrising/Schemas/Schema.xsd2" xmlns:ns4="http://www.tibco.com/schemas/Bankrising/Schemas/Client.xsd" xmlns:ns3="http://www.tibco.com/schemas/tibco/Schemas/Schema.xsd" targetNamespace="http://xmlns.example.com/1564670608293">
    <import namespace="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" location="../Schemas/GetById.xsd"/>
    <import namespace="http://www.tibco.com/schemas/tibco/Schemas/GetByClientCC.xsd" location="../Schemas/GetByClientCC.xsd"/>
    <import namespace="http://www.tibco.com/schemas/Bankrising/Schemas/Client.xsd" location="../Schemas/Client.xsd"/>
    <message name="CreateClientInput">
        <part name="input" element="ns4:inputClient"/>
    </message>
    <message name="CreateClientOutput">
        <part name="output" element="ns4:outputClient"/>
    </message>
    <message name="GetAllClientsInput"/>
    <message name="GetAllClientsOutput">
        <part name="output" element="ns4:root"/>
    </message>
    <message name="GetClientByIdInput">
        <part name="input" element="ns5:getById"/>
    </message>
    <message name="GetClientByIdOutput">
        <part name="output" element="ns4:root"/>
    </message>
    <message name="UpdateClientInput">
        <part name="input" element="ns4:inputClient"/>
    </message>
    <message name="UpdateClientOutput">
        <part name="input" element="ns4:outputClient"/>
    </message>
    <message name="DeleteClientInput">
        <part name="input" element="ns5:getById"/>
    </message>
    <message name="DeleteClientOutput">
        <part name="output" element="ns4:outputClient"/>
    </message>
    <message name="GetClientByCcInput">
        <part name="input" element="ns6:GetByClientCC"/>
    </message>
    <message name="GetClientByCcOutput">
        <part name="output" element="ns4:root"/>
    </message>
    <portType name="PortType_CreateClient">
        <operation name="Operation">
            <input message="tns:CreateClientInput"/>
            <output message="tns:CreateClientOutput"/>
        </operation>
    </portType>
    <portType name="PortType_GetAllClients">
        <operation name="Operation">
            <input message="tns:GetAllClientsInput"/>
            <output message="tns:GetAllClientsOutput"/>
        </operation>
    </portType>
    <portType name="PortType_GetClientById">
        <operation name="Operation">
            <input message="tns:GetClientByIdInput"/>
            <output message="tns:GetClientByIdOutput"/>
        </operation>
    </portType>
    <portType name="PortType_UpdateClient">
        <operation name="Operation">
            <input message="tns:UpdateClientInput"/>
            <output message="tns:UpdateClientOutput"/>
        </operation>
    </portType>
    <portType name="PortType_GetClientByCc">
        <operation name="Operation">
            <input message="tns:GetClientByCcInput"/>
            <output message="tns:GetClientByCcOutput"/>
        </operation>
    </portType>
</definitions>