back-end/src/main/resources/wsdl/account.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1564670090695" xmlns:ns0="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" xmlns:ns2="http://www.tibco.com/schemas/tibco/Schemas/getByIban.xsd" xmlns:ns1="http://www.tibco.com/schemas/Bankrising/Schemas/Account.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" name="Untitled" targetNamespace="http://xmlns.example.com/1564670090695">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="getById">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:getById"/>
                        <xs:element ref="ns0:user_id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_id">
                <xs:complexType>
                    <xs:attribute name="user_id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Bankrising/Schemas/Account.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Bankrising/Schemas/Account.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="inputAccount">
                <xs:complexType>
                    <xs:attribute name="account_number" type="xs:string"/>
                    <xs:attribute name="balance" type="xs:string"/>
                    <xs:attribute name="created_at" type="xs:string"/>
                    <xs:attribute name="employee_id" type="xs:string"/>
                    <xs:attribute name="iban" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="interest" type="xs:string"/>
                    <xs:attribute name="status" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="user_id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputAccount">
                <xs:complexType>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:inputAccount" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns1:outputAccount" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/tibco/Schemas/getByIban.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/tibco/Schemas/getByIban.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="getByIban">
                <xs:complexType>
                    <xs:attribute name="iban" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:getByIban"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="PortType_GetAccountByIdEndpoint1" binding="tns:PortType_GetAccountByIdEndpoint1Binding">
            <soap:address location="http://localhost:8081/Account/Service.serviceagent/PortType_GetAccountByIdEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_UpdateAccountEndpoint1" binding="tns:PortType_UpdateAccountEndpoint1Binding">
            <soap:address location="http://localhost:8081/Account/Service.serviceagent/PortType_UpdateAccountEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_GetAccountByIbanEndpoint1" binding="tns:PortType_GetAccountByIbanEndpoint1Binding">
            <soap:address location="http://localhost:8081/Account/Service.serviceagent/PortType_GetAccountByIbanEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_GetAllAccountsEndpoint1" binding="tns:PortType_GetAllAccountsEndpoint1Binding">
            <soap:address location="http://localhost:8081/Account/Service.serviceagent/PortType_GetAllAccountsEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_CreateAccountEndpoint1" binding="tns:PortType_CreateAccountEndpoint1Binding">
            <soap:address location="http://localhost:8081/Account/Service.serviceagent/PortType_CreateAccountEndpoint1"/>

        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType_GetAccountById">
        <wsdl:operation name="Operation_GetAccountById">
            <wsdl:input message="tns:GetAccountByIdInput"/>
            <wsdl:output message="tns:GetAccountByIdOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_UpdateAccount">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:UpdateAccountInput"/>
            <wsdl:output message="tns:UpdateAccountOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_GetAccountByIban">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:GetAccountByIbanInput"/>
            <wsdl:output message="tns:GetAccountByIbanOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_GetAllAccounts">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:GetAllAccountsInput"/>
            <wsdl:output message="tns:GetAllAccountsOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_CreateAccount">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:CreateAccountInput"/>
            <wsdl:output message="tns:CreateAccountOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortType_GetAccountByIdEndpoint1Binding" type="tns:PortType_GetAccountById">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation_GetAccountById">
            <soap:operation style="document" soapAction="/Account/Service.serviceagent/PortType_GetAccountByIdEndpoint1/Operation_GetAccountById"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_UpdateAccountEndpoint1Binding" type="tns:PortType_UpdateAccount">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/Account/Service.serviceagent/PortType_UpdateAccountEndpoint1/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_GetAccountByIbanEndpoint1Binding" type="tns:PortType_GetAccountByIban">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/Account/Service.serviceagent/PortType_GetAccountByIbanEndpoint1/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_GetAllAccountsEndpoint1Binding" type="tns:PortType_GetAllAccounts">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/Account/Service.serviceagent/PortType_GetAllAccountsEndpoint1/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_CreateAccountEndpoint1Binding" type="tns:PortType_CreateAccount">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/Account/Service.serviceagent/PortType_CreateAccountEndpoint1/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetAccountByIdInput">
        <wsdl:part name="input" element="ns0:getById"/>
    </wsdl:message>
    <wsdl:message name="GetAccountByIdOutput">
        <wsdl:part name="output" element="ns1:root"/>
    </wsdl:message>
    <wsdl:message name="UpdateAccountInput">
        <wsdl:part name="input" element="ns1:inputAccount"/>
    </wsdl:message>
    <wsdl:message name="UpdateAccountOutput">
        <wsdl:part name="output" element="ns1:outputAccount"/>
    </wsdl:message>
    <wsdl:message name="GetAccountByIbanInput">
        <wsdl:part name="input" element="ns2:getByIban"/>
    </wsdl:message>
    <wsdl:message name="GetAccountByIbanOutput">
        <wsdl:part name="output" element="ns1:root"/>
    </wsdl:message>
    <wsdl:message name="GetAllAccountsInput"/>
    <wsdl:message name="GetAllAccountsOutput">
        <wsdl:part name="output" element="ns1:root"/>
    </wsdl:message>
    <wsdl:message name="CreateAccountInput">
        <wsdl:part name="input" element="ns1:inputAccount"/>
    </wsdl:message>
    <wsdl:message name="CreateAccountOutput">
        <wsdl:part name="output" element="ns1:outputAccount"/>
    </wsdl:message>
</wsdl:definitions>