back-end/src/main/resources/wsdl/transactions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns6="http://www.tibco.com/schemas/Bankrising/Schemas/Deposit.xsd" xmlns:ns5="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1564747039855" xmlns:ns0="http://www.tibco.com/schemas/Bankrising/Schemas/Transfer.xsd" xmlns:ns2="http://www.tibco.com/schemas/tibco/Schemas/getByIban.xsd" xmlns:ns1="http://www.tibco.com/schemas/Bankrising/Schemas/Transaction.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns4="http://www.tibco.com/schemas/Bankrising/Schemas/Withdraw.xsd" xmlns:ns3="http://www.tibco.com/schemas/Bankrising/Schemas/Payment.xsd" name="Untitled" targetNamespace="http://xmlns.example.com/1564747039855">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Bankrising/Schemas/Withdraw.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Bankrising/Schemas/Withdraw.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="inputWithdraw">
                <xs:complexType>
                    <xs:attribute name="account_iban" type="xs:string"/>
                    <xs:attribute name="account_id" type="xs:string"/>
                    <xs:attribute name="created_at" type="xs:string"/>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="employee_id" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="transaction_id" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="user_id" type="xs:string"/>
                    <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputWithdraw">
                <xs:complexType>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns4:inputWithdraw" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns4:outputWithdraw" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Bankrising/Schemas/Transfer.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Bankrising/Schemas/Transfer.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="inputTransfer">
                <xs:complexType>
                    <xs:attribute name="account_iban" type="xs:string"/>
                    <xs:attribute name="account_id" type="xs:string"/>
                    <xs:attribute name="created_at" type="xs:string"/>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="destination_iban" type="xs:string"/>
                    <xs:attribute name="employee_id" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="transaction_id" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="user_id" type="xs:string"/>
                    <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputTransfer">
                <xs:complexType>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:inputTransfer" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns0:outputTransfer" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/tibco/Schemas/getByIban.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/tibco/Schemas/getByIban.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="getByIban">
                <xs:complexType>
                    <xs:attribute name="iban" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:getByIban"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Bankrising/Schemas/getById.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="getById">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns5:getById"/>
                        <xs:element ref="ns5:user_id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_id">
                <xs:complexType>
                    <xs:attribute name="user_id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Bankrising/Schemas/Deposit.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Bankrising/Schemas/Deposit.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="inputDeposit">
                <xs:complexType>
                    <xs:attribute name="account_iban" type="xs:string"/>
                    <xs:attribute name="account_id" type="xs:string"/>
                    <xs:attribute name="created_at" type="xs:string"/>
                    <xs:attribute name="depositer_cc_number" type="xs:string"/>
                    <xs:attribute name="depositer_name" type="xs:string"/>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="employee_id" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="transaction_id" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="user_id" type="xs:string"/>
                    <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputDeposit">
                <xs:complexType>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns6:inputDeposit" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns6:outputDeposit" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Bankrising/Schemas/Payment.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Bankrising/Schemas/Payment.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="inputPayment">
                <xs:complexType>
                    <xs:attribute name="account_iban" type="xs:string"/>
                    <xs:attribute name="account_id" type="xs:string"/>
                    <xs:attribute name="created_at" type="xs:string"/>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="employee_id" type="xs:string"/>
                    <xs:attribute name="entity" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="reference" type="xs:string"/>
                    <xs:attribute name="transaction_id" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="user_id" type="xs:string"/>
                    <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputPayment">
                <xs:complexType>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:inputPayment" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns3:outputPayment" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Bankrising/Schemas/Transaction.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Bankrising/Schemas/Transaction.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="DepositTransaction">
                <xs:complexType>
                    <xs:attribute name="depositer_cc_number" type="xs:string"/>
                    <xs:attribute name="depositer_name" type="xs:string"/>
                    <xs:attribute name="employee_id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="PaymentTransaction">
                <xs:complexType>
                    <xs:attribute name="employee_id" type="xs:string"/>
                    <xs:attribute name="entity" type="xs:string"/>
                    <xs:attribute name="reference" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="TransferTransaction">
                <xs:complexType>
                    <xs:attribute name="destination_iban" type="xs:string"/>
                    <xs:attribute name="employee_id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="WithdrawTransaction">
                <xs:complexType>
                    <xs:attribute name="employee_id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="inputTransaction">
                <xs:complexType>
                    <xs:attribute name="account_iban" type="xs:string"/>
                    <xs:attribute name="account_id" type="xs:string"/>
                    <xs:attribute name="created_at" type="xs:string"/>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="user_id" type="xs:string"/>
                    <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputTransaction">
                <xs:complexType>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:inputTransaction" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns1:outputTransaction" minOccurs="0"/>
                        <xs:element ref="ns1:DepositTransaction" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns1:WithdrawTransaction" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns1:PaymentTransaction" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns1:TransferTransaction" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="PortType_TransferEndpoint1" binding="tns:PortType_TransferEndpoint1Binding">
            <soap:address location="http://localhost:8084/Transactions/Service.serviceagent/PortType_TransferEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_GetTransactionsByIbanEndpoint1" binding="tns:PortType_GetTransactionsByIbanEndpoint1Binding">
            <soap:address location="http://localhost:8084/Transactions/Service.serviceagent/PortType_GetTransactionsByIbanEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_GetAllTransactionsEndpoint1" binding="tns:PortType_GetAllTransactionsEndpoint1Binding">
            <soap:address location="http://localhost:8084/Transactions/Service.serviceagent/PortType_GetAllTransactionsEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_PaymentEndpoint1" binding="tns:PortType_PaymentEndpoint1Binding">
            <soap:address location="http://localhost:8084/Transactions/Service.serviceagent/PortType_PaymentEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_WithdrawEndpoint1" binding="tns:PortType_WithdrawEndpoint1Binding">
            <soap:address location="http://localhost:8084/Transactions/Service.serviceagent/PortType_WithdrawEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_TransactionByIdEndpoint1" binding="tns:PortType_TransactionByIdEndpoint1Binding">
            <soap:address location="http://localhost:8084/Transactions/Service.serviceagent/PortType_TransactionByIdEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="PortType_DepositEndpoint1" binding="tns:PortType_DepositEndpoint1Binding">
            <soap:address location="http://localhost:8084/Transactions/Service.serviceagent/PortType_DepositEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType_Transfer">
        <wsdl:operation name="WriteTransfer">
            <wsdl:input message="tns:WriteTransferInput"/>
            <wsdl:output message="tns:WriteTransferOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_GetTransactionsByIban">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:GetTransactionsByIbanInput"/>
            <wsdl:output message="tns:GetTransactionsByIbanOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_GetAllTransactions">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:GetAllTransactionsInput"/>
            <wsdl:output message="tns:GetAllTransactionsOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_Payment">
        <wsdl:operation name="WritePayment">
            <wsdl:input message="tns:WritePaymentInput"/>
            <wsdl:output message="tns:WritePaymentOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_Withdraw">
        <wsdl:operation name="WriteWithdraw">
            <wsdl:input message="tns:WriteWithdrawInput"/>
            <wsdl:output message="tns:WriteWithdrawOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_TransactionById">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:GetTransactionByIdInput"/>
            <wsdl:output message="tns:GetTransactionByIdOuput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortType_Deposit">
        <wsdl:operation name="WriteDeposit">
            <wsdl:input message="tns:WriteDepositInput"/>
            <wsdl:output message="tns:WriteDepositOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortType_TransferEndpoint1Binding" type="tns:PortType_Transfer">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="WriteTransfer">
            <soap:operation style="document" soapAction="/Transactions/Service.serviceagent/PortType_TransferEndpoint1/WriteTransfer"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_GetTransactionsByIbanEndpoint1Binding" type="tns:PortType_GetTransactionsByIban">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/Transactions/Service.serviceagent/PortType_GetTransactionsByIbanEndpoint1/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_GetAllTransactionsEndpoint1Binding" type="tns:PortType_GetAllTransactions">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/Transactions/Service.serviceagent/PortType_GetAllTransactionsEndpoint1/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_PaymentEndpoint1Binding" type="tns:PortType_Payment">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="WritePayment">
            <soap:operation style="document" soapAction="/Transactions/Service.serviceagent/PortType_PaymentEndpoint1/WritePayment"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_WithdrawEndpoint1Binding" type="tns:PortType_Withdraw">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="WriteWithdraw">
            <soap:operation style="document" soapAction="/Transactions/Service.serviceagent/PortType_WithdrawEndpoint1/WriteWithdraw"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_TransactionByIdEndpoint1Binding" type="tns:PortType_TransactionById">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/Transactions/Service.serviceagent/PortType_TransactionByIdEndpoint1/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortType_DepositEndpoint1Binding" type="tns:PortType_Deposit">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="WriteDeposit">
            <soap:operation style="document" soapAction="/Transactions/Service.serviceagent/PortType_DepositEndpoint1/WriteDeposit"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="WriteTransferInput">
        <wsdl:part name="input" element="ns0:inputTransfer"/>
    </wsdl:message>
    <wsdl:message name="WriteTransferOutput">
        <wsdl:part name="output" element="ns1:outputTransaction"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionsByIbanInput">
        <wsdl:part name="input" element="ns2:getByIban"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionsByIbanOutput">
        <wsdl:part name="output" element="ns1:root"/>
    </wsdl:message>
    <wsdl:message name="GetAllTransactionsInput"/>
    <wsdl:message name="GetAllTransactionsOutput">
        <wsdl:part name="output" element="ns1:root"/>
    </wsdl:message>
    <wsdl:message name="WritePaymentInput">
        <wsdl:part name="input" element="ns3:inputPayment"/>
    </wsdl:message>
    <wsdl:message name="WritePaymentOutput">
        <wsdl:part name="output" element="ns3:outputPayment"/>
    </wsdl:message>
    <wsdl:message name="WriteWithdrawInput">
        <wsdl:part name="input" element="ns4:inputWithdraw"/>
    </wsdl:message>
    <wsdl:message name="WriteWithdrawOutput">
        <wsdl:part name="output" element="ns4:outputWithdraw"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionByIdInput">
        <wsdl:part name="input" element="ns5:getById"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionByIdOuput">
        <wsdl:part name="output" element="ns1:root"/>
    </wsdl:message>
    <wsdl:message name="WriteDepositInput">
        <wsdl:part name="input" element="ns6:inputDeposit"/>
    </wsdl:message>
    <wsdl:message name="WriteDepositOutput">
        <wsdl:part name="output" element="ns6:outputDeposit"/>
    </wsdl:message>
</wsdl:definitions>