back-end/src/main/resources/wsdl/user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1565108737830" xmlns:ns0="http://www.tibco.com/schemas/tibco/Schemas/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1565108737830">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/tibco/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/tibco/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="inputUsers">
                <xs:complexType>
                    <xs:attribute name="email" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="password" type="xs:string"/>
                    <xs:attribute name="role" type="xs:string"/>
                    <xs:attribute name="status" type="xs:string"/>
                    <xs:attribute name="username" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputUsers">
                <xs:complexType>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:inputUsers" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns0:outputUsers" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="PortType_GetAllUsersEndpoint1" binding="tns:PortType_GetAllUsersEndpoint1Binding">
            <soap:address location="http://localhost:8086/User/Service.serviceagent/PortType_GetAllUsersEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType_GetAllUsers">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:GetAllUsersInput"/>
            <wsdl:output message="tns:GetAllUsersOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortType_GetAllUsersEndpoint1Binding" type="tns:PortType_GetAllUsers">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/User/Service.serviceagent/PortType_GetAllUsersEndpoint1/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetAllUsersInput"/>
    <wsdl:message name="GetAllUsersOutput">
        <wsdl:part name="output" element="ns0:root"/>
    </wsdl:message>
</wsdl:definitions>